<!DOCTYPE html>
<html lang="fi">
    <head>
        <title>Smoothietietokanta</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <a href="/" class="btn btn-default btn-xs">
                        <i class="glyphicon glyphicon-menu-left"></i>
                        Etusivulle
                    </a> 
                    <h1>Smoothiet</h1>
                    <ul class="list-group">
                        <li class="list-group-item" th:each="annos : ${annokset}">
                            <a th:href="@{~/annokset/{id}(id=${annos.getId()})}">
                                <span th:text="${annos.getNimi()}">Annos</span>
                            </a>    
                        </li>
                    </ul>
                    <form method="POST" action="/annokset">
                        <h2>Lisää smoothie</h2>
                        <div class="form-group">    
                            <label for="nimi">Nimi</label>
                            <input class="form-control" id="form-control-name" type="text" name="nimi" placeholder="Esim. banaanismoothie"/>
                            <p id="notification" style="color:red;"></p>
                        </div>

                        <div class="form-group">
                            <h3>Raaka-aineet</h3>
                            <select id="select">
                                <option value="-1">Valitse</option>
                                <option th:each="raakaaine : ${raakaaineet}" th:text="${raakaaine.getNimi()}" th:value="${raakaaine.getId()}"/>
                            </select>
                            <label style="margin-left: 1rem">Määrä:<input id="maara" type="number" step="0.5" value="1" /></label>
                            <label style="margin-left: 1rem">Yksikkö:
                                <select id="yksikko">
                                    <option value="kpl">kpl</option>
                                    <option value="g">g</option>
                                    <option value="dl">dl</option>
                                    <option value="tl">tl</option>
                                    <option value="rkl">rkl</option>
                                </select>    
                            </label>
                            <button type="button" class="btn btn-default btn-xs" id="add">Lisää raaka-aine</button>
                            <div id="lisatyt"></div>
                        </div>
                        
                        <input type="submit" value="Lisää smoothie" class="btn btn-primary"/>
                    </form>
                </div>
            </div>
           
        </div>
        <script src="/scripts/annokset.js"></script>
    </body>
</html>