<!DOCTYPE html>
<html>
    <head>
        <title>Smoothietietokanta | Raaka-aine</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a href="/raaka-aineet" class="btn btn-default btn-xs">
                        <i class="glyphicon glyphicon-menu-left"></i>
                        Kaikki raaka-aineet
                    </a> 
                    <h1>Raaka-aine</h1>
                </div>
            </div>
           
        </div>
    </body>
</html>